.notes {
  h2 {
    margin: 20px 0;
  }

  & > button {
    margin-bottom: 20px;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;

    li {
      display: flex;
      align-items: center;
      gap: 10px;

      .note-important {
        width: 12px;
        height: 12px;
        color: $color-white;
        border-radius: 50%;
        background-color: $color-green
      }
    }
  }

  form {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
  }
}
