.notes {
  h2 {
    margin: 20px 0;
  }

  & > button {
    margin-bottom: 20px;
  }

  li {
    list-style: lower-greek inside;
  }

  form {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
  }
}
